/**
 * @author Hana Lee
 * @since 2016-01-17 19:35
 */
body {
	background: #D8E5C4;
}

#main-container {
	background-image: url('../images/baseball-bg.png');
	width: 100%;
	height: 100%;
	position: absolute;
}

.webix_view, .webix_el_box .webixtype_form {
	font-family: 'PT Sans', Tahoma, 'Nanum Gothic', 'Malgun Gothic', serif;
}

.bbg-mr-10 {
	margin-right: 10px;
}

.bbg-ml-10 {
	margin-left: 10px !important;
}

.bbg-pl-10 {
	padding-left: 10px;
}