.custom_item {
	width: 193px;
	height: 88px;
	border: 1px solid #009966;
	border-radius: 4px;
	margin: 10px 5px;
	overflow: hidden;
	background-color: #ffffee;
	padding: 10px;
	float: left;
	box-shadow: 5px 5px 5px #888888;
}