.game_room_chat .from span, .game_room_chat .to span, .game_room_chat .system {
	font-weight: bold;
}

.game_room_chat .from {
	background: lavender;
}

.game_room_chat .system {
	background: aquamarine;
}