.game_room_list {
	background-image: url('../images/game-list-bg.png');
}

.game_room_list fieldset.setting {
	border: 1px dotted;
	width: 166px;
	position: relative;
	top: -10px;
}

.game_room_list div.title.normal, .game_room_list div.title.game_end {
	font-size: 16px;
	color: deepskyblue;
}

.game_room_list div.title.running {
	font-size: 16px;
	color: crimson;
}

.game_room_list div.owner {
	color: chocolate;
}

.game_room_list div.join_button {
	position: relative;
	float: right;
	width: 70px;
	height: 30px;
	top: -8px;
}

.custom_item {
	width: 193px;
	height: 88px;
	border: 1px solid #009966;
	border-radius: 4px;
	margin: 10px 5px;
	overflow: hidden;
	background-color: #ffffee;
	padding: 10px;
	float: left;
	box-shadow: 5px 5px 5px #888888;
}